/*
 * This file is part of Arduino
 *
 * Arduino is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
 *
 * As a special exception, you may use this file as part of a free software
 * library without restriction.  Specifically, if other files instantiate
 * templates or use macros or inline functions from this file, or you compile
 * this file and link it with other files to produce an executable, this
 * file does not by itself cause the resulting executable to be covered by
 * the GNU General Public License.  This exception does not however
 * invalidate any other reasons why the executable file might be covered by
 * the GNU General Public License.
 *
 * Copyright 2015 Arduino Srl (http://www.arduino.org/)
 *
 * authors: arduino.org team - support@arduino.org
 *
 */

body { font-family: Verdana; }

#problems-panel {
    width: 97%;
    margin-left: 27px;
}

.modal-bar, .pane-header {
	margin-left: 27px;
}

.bottom-link {
	margin-bottom: 10px;
	border-bottom: 1px solid #9c9e9e !important;
}

.inline-widget {
	margin-left: 27px;
}

#sidebar, #main-view {
	right: 200px;
	left: 100%;
	width: 48px;
	text-align: center;
}
#main-toolbar {
	left: 0px;
	right: 200px;
	width: 75px;
	padding: 15px;
}
.main-view .content {
	right: 200px;
	left: 48px !important;
}
.main-view #sidebar {
	left: auto;
	right: 0;
	width: 200px;
}
.sidebar-selection {
	width: 200px;
	right: 0;
}

.working-set-header, #working-set-list-container, .open-files-container, .sidebar-selection {
	display: block !important;
}

#working-set-list-first-pane,
#working-set-list-container,
.working-set-header,
#sidebar,
#main-view,
.main-view #sidebar {
		background-color: #17a0a4;
		color: #ffffff;
		font-weight: bold;
}

.selectionExtension-visible, .filetree-selection-extension { display: none !important; }

.not-editor { background: #f8f8f8 url('./icons/no_content_bg_arduino.png') no-repeat center 45% !important; }

/* SideBar */

#project-files-container {
	margin-top: 10px;
	color: #ffffff;
}

#project-files-header {
	color: #ffffff;
}

span.working-set-header-title { background: none; }
#sidebar li.selected { background-color: #17a0a4; }

.open-files-container, .forced-hidden {
	background-color: #17a0a4;
	display: block !important; 
	border: none;
	margin-top: 30px;
}

div.sidebar-selection-extension.selectionExtension-visible.forced-hidden { left: 0px !important; right: 191px !important; }

.open-files-container li { padding-top: 5px;}
.open-files-container li.selected .extension { color: #f9ff00;}
.open-files-container li.selected a { color: #f9ff00; }

/*
.working-set-splitview-btn:hover {
	border: none;
	width: 38px;
	height: 38px;
	outline: none !important;
}
*/


/* Main-Toolbar Icons */

#main-toolbar {
	text-align: left;
	padding: 0px;
	margin: 0px;
}

#main-toolbar .buttons>a:hover, #main-toolbar .bottom-buttons>a:hover {
	outline: none !important;
}

#toolbar-parfait { display: none !important; }

#main-toolbar { background-color: #17a0a4; }

#main-toolbar .buttons>a, #main-toolbar .bottom-buttons>a {
	width: 75px;
	height: 38px;
}

#main-toolbar .buttons>a, #main-toolbar .bottom-buttons>a {
	margin: 16px 0px 0px 0px;
}

#main-toolbar .buttons>a:hover {
	display: block;
}
#main-toolbar .bottom-buttons>a {
	margin-bottom: 16px;	
}

#toolbar-arduino-logo {
	background: url('./icons/arduino.png') center no-repeat;
    cursor:pointer;
    border: none;
}

#toolbar-arduino-logo:hover {
	background: url('./icons/arduino_over.png') center no-repeat;
}


#toolbar-sep2 {height: 30px; display: block; }

#toolbar-verify-btn {
	background: url('./icons/verify.png') center no-repeat;
    cursor:pointer;
    border: none;
}
#toolbar-verify-btn:hover {
	background: url('./icons/verify_over.png') center no-repeat;
}

#toolbar-upload-btn {
	background: url('./icons/upload.png') center no-repeat;
    cursor:pointer;
    border: none;
}
#toolbar-upload-btn:hover {
	background: url('./icons/upload_over.png') center no-repeat;
}

#toolbar-sep2 {height: 60px; display: block; }

#toolbar-new-btn {
	background: url('./icons/new.png') center no-repeat;
    cursor:pointer;
    border: none;
}
#toolbar-new-btn:hover {
	background: url('./icons/new_over.png') center no-repeat;
}

#toolbar-open-btn {
	background: url('./icons/open.png') center no-repeat;
    cursor:pointer;
    border: none;
}
#toolbar-open-btn:hover {
	background: url('./icons/open_over.png') center no-repeat;
}

#toolbar-save-btn {
	background: url('./icons/save.png') center no-repeat;
    cursor:pointer;
    border: none;
}
#toolbar-save-btn:hover {
	background: url('./icons/save_over.png') center no-repeat;
}

#toolbar-console-btn {
	background: url('./icons/console.png') center no-repeat;
	cursor:pointer;
	border: none;
}
#toolbar-console-btn:hover {
	background: url('./icons/console_over.png') center no-repeat;
}

#toolbar-serial-btn {
	background: url('./icons/serial.png') center no-repeat;
    cursor:pointer;
    border: none;
}
#toolbar-serial-btn:hover {
	background: url('./icons/serial_over.png') center no-repeat;
}

#toolbar-toggle-btn {
	background: url('./icons/apri.png') center no-repeat;
}

#status-bar { background: #dfeaeb; }

#status-bar > * {
	display: block !important;
	background: #dfeaeb;
}