#listDiv {
    margin-top: 15px;
}

.section_title, th {
    color: #17a0a4;
}

.section_title {
	font-weight: bold;
}

.cbtn {
	width: 40px;
	text-align: center;
}

img.arduino_lib {
    content: url('../img/arduinolib.png') center no-repeat;
}

img.user_lib {
    content: url('../img/userlib.png') center no-repeat;
}

img.add_btn {
	content: url('../img/add.png') center no-repeat;	
	cursor: pointer;
	border: none;
}