#btnDiv {
	height: 80px;
}

#btnDiv a {
	padding: 2px;
	overflow: hidden;
}

#listDiv {
    display: block;
    overflow-y: scroll;
    height: 230px;
    z-index: -1000;
}

th {
	color: #17a0a4;
}

.section_title {
	color: #17a0a4;
	margin-top: 15px;
}

.section_title {
	font-weight: bold;
}

.tbody {
	margin-top: 10px;
}

.cbtn {
	width: 40px;
	padding-left: 0px;
}

img.arduino_lib {
    content: url('../img/arduinolib.png') center no-repeat;
}

img.user_lib {
    content: url('../img/userlib.png') center no-repeat;
}

img.add_btn {
	content: url('../img/add.png') center no-repeat;	
	cursor: pointer;
	border: none;
}