

.build-icon {
    background: url("../img/build-icon.png");
    background-size: 22px;
    background-position: center;
}

.upload-icon {
    background: url("../img/upload-icon.png");
    background-size: 22px;
    background-position: center;
}