/*
 * This file is part of Arduino
 *
 * Arduino is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
 *
 * As a special exception, you may use this file as part of a free software
 * library without restriction.  Specifically, if other files instantiate
 * templates or use macros or inline functions from this file, or you compile
 * this file and link it with other files to produce an executable, this
 * file does not by itself cause the resulting executable to be covered by
 * the GNU General Public License.  This exception does not however
 * invalidate any other reasons why the executable file might be covered by
 * the GNU General Public License.
 *
 * Copyright 2015 Arduino Srl (http://www.arduino.org/)
 *
 * authors: arduino.org team - support@arduino.org
 *
 */

#main-toolbar .bottom-buttons>a:hover {
	background-color: rgba(0,0,0,0) !important;
}

#main-toolbar div.bottom-buttons {
	margin-bottom: 22px;
}

#main-toolbar .bottom-buttons>a {
	margin-bottom: 20px;
	display: block;
}

#toolbar-verify-btn {
	background: url('../img/verify.png') center no-repeat;
    cursor:pointer;
    border: none;
}
#toolbar-verify-btn:hover {
	background: url('../img/verify_over.png') center no-repeat;
}

#toolbar-upload-btn {
	background: url('../img/upload.png') center no-repeat;
    cursor:pointer;
    border: none;
}
#toolbar-upload-btn:hover {
	background: url('../img/upload_over.png') center no-repeat;
}

#toolbar-console-btn {
	background: url('../img/console.png') center no-repeat;
	cursor:pointer;
	border: none;
}
#toolbar-console-btn:hover {
	background: url('../img/console_over.png') center no-repeat;
}

.consolehover {
	background: url('../img/console_over.png') center no-repeat !important;
}

#toolbar-serial-btn, .ctoolbar-btn {
	background: url('../img/serial.png') center no-repeat;
    cursor:pointer;
    border: none;
}
#toolbar-serial-btn:hover {
	background: url('../img/serial_over.png') center no-repeat;
}

.serialhover {
	background: url('../img/serial_over.png') center no-repeat !important;
}

#toolbar-debug-btn {
	background: url('../img/debug.png') center no-repeat;
	cursor:pointer;
	border: none;
	/* padding-bottom: 16px */
}
#toolbar-debug-btn:hover {
	background: url('../img/debug_over.png') center no-repeat;
}

.debughover {
	background: url('../img/debug_over.png') center no-repeat !important;
}