#console_title {
    color: #17a0a4;
    font-weight: bold;
    z-index: 1000;
    top: 18px;
    padding-left: 8px;
    position: relative;
    background: #dfe2e2;
    width: 60px;
}

#console {
    min-height:180px;
    padding-top: 0px;
    padding-bottom: 56px;
    margin-left: 7px;
    display: block;
}

#logger {
    background-color: #ffffff;
    width: 99%;
    height: 100%;
    padding-top: 20px;
    border: none;
    /*border:1px solid #EEE; border-right:0 solid;*/
    border: 1px solid #b2b5b5;
    overflow-y: scroll;
    z-index: 999;

    -moz-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.info {
    height:5%;
    font-size: small;
    text-align: right;
    width: 97%;
}

div#bTag, div#pTag {
    cursor: pointer;
}