.console_title {
    color: #17a0a4;
    font-weight: bold;
}

#console {
    min-height:180px;
    max-height:180px;
    padding-top: 10px;
    margin-left: 27px;
    display: block;
}

#logger {
    background-color: #ffffff;
    width: 97%;
    height: 135px;
    padding: 2px;
    border: none;
    border:1px solid #EEE; border-right:0 solid;
    overflow: scroll;
    margin: 1px 0px 3px 11px;
}

.info {
    height:5%;
    font-size: small;
    text-align: right;
    width: 97%;
}