#console {
    min-height:195px;
    height: 195px;
    padding-top: 0px;
    display: block;
    border: 9px solid #fcb600;
    padding-left: 0px;
}

#logger {
    height: 177px;
    background-color: #ffffff;
    border: none;
    /*border:1px solid #EEE; border-right:0 solid;*/
    overflow-y: scroll;

    -moz-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
/*
.info {
    height:5%;
    font-size: small;
    text-align: right;
    width: 97%;
}*/

div#bTag, div#pTag {
    cursor: pointer;
}

.modal-bar {
    padding-left: 0px;
}