/*#logger{
    height:75%; 
    width:96%;
    resize: none;
    display: block;
    overflow: auto;
	color: white;
	background-color: #00878f;
}*/

#console {
    background-color: #f9ff00;
    min-height:160px;
    padding-top: 10px;
    margin-left: 27px;
}

#logger {
    width: 97%;
    height: 135px;
    padding: 2px;
    border: none;
    border:1px solid #EEE; border-right:0 solid;
    overflow: scroll;
    background-color: #ffffff;
    margin: 1px 0px 3px 11px;
}

.info {
    height:5%;
    font-size: small;
    text-align: right;
    /*padding-right: 10px;*/
    width: 97%;
}