#plugin-serialmonitor {
    padding-top: 10px;
    height: 300px !important;
}

input#scroll {
  width: 13px;
}

#options {
    margin-top: 10px;
    margin-bottom: 10px;
}

#message_input{
    width: 86%;
    margin-left: 15px;
    height: 27px;
}

#console_log{
    width: 95%;
    resize: none;
    overflow: scroll;
    margin-left: 15px;
    background-color: #ffffff;
}

.serial_title {
  font-weight: bold;
}
.serial_label, .serial_title {
  color: #17a0a4;
}

a#send_button {
    background: url('send.png') center 50% no-repeat;
    cursor:pointer;
    width: 35px;
    height: 35px;
    padding: 0px;
}
a#send_button:hover {
    background: url('send_over.png') center no-repeat;
}

a#clear_button {
    background: url('clear.png') center no-repeat;
    cursor:pointer;
    width: 35px;
    height: 35px;
    padding: 0px;
    margin-left: 5px;
}
a#clear_button:hover {
    background: url('clear_over.png') center no-repeat;
}