#title{
    width: 100%;
    resize: none;
    font-size: 100%;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

#title h3 { color: #ffffff; }

#plugin-serialmonitor{
     background-color: #17a1a5; 
     height: 28%;
     border: 1px solid #dfeae3;
}

#console_serialMonitor{
    height: 100px;
    vertical-align: top;
    margin-left: 2%;
    margin-top: 15px;
}

#send{
    vertical-align: middle;
    margin-top: 10px;
}

#message_input{
    width: 90%; 
    margin-left: 15px;
}

#console_log{
    height:100%; 
    width:90%;
    resize: none;
    display: block;
    overflow-y: auto;
    margin-left: 15px;
}

.labserial {
  color: #ffffff;
  font-weight: bold;
  margin-left: 15px;
}

/*
#clear_button{
    float: right; 
    margin-right:1%;
}
*/

#options, #logarea {
    margin-top: 10px;
}

#cleardiv { margin-left: 15px; text-align: center; }

/*
#eol, #baud{
    float: right;
    margin-right: 2%
}
*/

.serial-console-icon {
    background: url("../img/icon-off.png");
    background-size: 22px;
    background-position: center;
}

.serial-console-icon-on {
    background: url("../img/icon-on.png");
    background-size: 22px;
    background-position: center;
}

.button {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #006468;
  background: #ffffff;
  /*padding: 10px 20px 10px 20px;*/
  text-decoration: none;
  float: right; 
  margin-right:1%;
  padding: 0.5% 1.1%;
}